setuptools<=58
rpcm
opencv-contrib-python
jupyter
Pillow
chardet
matplotlib
numpy
affine
fire
kornia
plyflatten
pytorch_lightning
torchmetrics
PyYAML
rasterio
utm
scikit_image
numba
torch
torchvision
torchaudio
tensorboard
srtm4 @ https://github.com/centreborelli/srtm4/archive/refs/tags/v1.2.4.tar.gz